extends layout

block content
  h1= title
  p Welcome to #{title}.

  -
     let results = DBresults
  div.container-fluid
    div.row.d-flex.flex-row
      each hat,index in results
        - let destination = `dispatch("/hats/update?id=${hat._id}")`
        div(class="row-sm-2", class="m-1") Hat #{hat.style}(#{hat.color}) is #{hat.price}
          button.btn.btn-primary(onclick=destination) Update
  script.
    //- function buy(index) {
    //-   alert(`You purchased hat ${index}.`);
    //- }
    function dispatch(path){
      window.location.href=path
    }

