extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let hatid = toShow._id
    - let style = toShow.style
    - let color = toShow.color
    - let price = toShow.price
    - let actionid = "/resource/hats/" + hatid

    script.
      let actionid = "#{actionid}"

    div
      div.row(style='margin-bottom: 10px;')
        div(class='hatAttr mr-3') colorume ID is:
        div #{hatid}
      div.row(style='margin-bottom: 10px;')
        div(class='hatAttr mr-3') colorume Type is:
        div #{style}
      div.row(style='margin-bottom: 10px;')
        div(class='hatAttr mr-3') colorume color is:
        div #{color}

      div.row(style='margin-bottom: 10px;')
        div(class='hatAttr mr-3') colorume price is:
        div #{price}
      

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the colorume collection
        window.location.href='/hats'
      }

      function deleteOnid() {
        console.log("starting delete");
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded");
          window.location.href='/hats';
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error);
        });
      }
